<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="ribbon:copyfields" type="Sitecore.SalesEngineers.Demo.Extensions.CultureVersions.Shell.Framework.Commands.Ribbon.CopyFieldsRibbonCommand, Sitecore.SalesEngineers.Demo.Extensions.CultureVersions"/>
      <command name="ribbon:translatefields" type="Sitecore.SalesEngineers.Demo.Extensions.CultureVersions.Shell.Framework.Commands.Ribbon.TranslateFieldsRibbonCommand, Sitecore.SalesEngineers.Demo.Extensions.CultureVersions"/>

      <command name="webedit:copyfromlanguage" type="Sitecore.SalesEngineers.Demo.Extensions.CultureVersions.Shell.Applications.WebEdit.Commands.WebEditCopyFromLanguage, Sitecore.SalesEngineers.Demo.Extensions.CultureVersions"/>
      <command name="webedit:translatefromlanguage" type="Sitecore.SalesEngineers.Demo.Extensions.CultureVersions.Shell.Applications.WebEdit.Commands.WebEditTranslateFromLanguage, Sitecore.SalesEngineers.Demo.Extensions.CultureVersions"/>

      <command name="item:copyfields" type="Sitecore.SalesEngineers.Demo.Extensions.CultureVersions.Shell.Framework.Commands.CopyFieldsCommand, Sitecore.SalesEngineers.Demo.Extensions.CultureVersions"/>
      <command name="item:translatefields" type="Sitecore.SalesEngineers.Demo.Extensions.CultureVersions.Shell.Framework.Commands.TranslateFieldsCommand, Sitecore.SalesEngineers.Demo.Extensions.CultureVersions"/>
      <command name="item:deletecultureversions" type="Sitecore.SalesEngineers.Demo.Extensions.CultureVersions.Shell.Framework.Commands.DeleteCultureVersionsCommand, Sitecore.SalesEngineers.Demo.Extensions.CultureVersions"/>

      <command name="ribbon:togglerecursivecultureversions" type="Sitecore.SalesEngineers.Demo.Extensions.CultureVersions.Shell.Framework.Commands.ContentEditor.ToggleRecursiveCommand, Sitecore.SalesEngineers.Demo.Extensions.CultureVersions"/>
      <command name="ribbon:togglerelatedcultureversions" type="Sitecore.SalesEngineers.Demo.Extensions.CultureVersions.Shell.Framework.Commands.ContentEditor.ToggleRelatedCommand, Sitecore.SalesEngineers.Demo.Extensions.CultureVersions"/>

    </commands>
    <settings>
      <setting name="CultureVersions.PageDataTemplateID" value="{1C82E550-EBCD-4E5D-8ABD-D50D0809541E}" />
      <setting name="CultureVersions.ConfigurationItemID" value="{15934E3A-19E8-474E-AF1B-200DE049CAF9}" />
      <setting name="CultureVersions.InfoLogLevelItemID" value="{58E30950-1B81-49D9-8B04-737D27BEE2DA}" />
      <setting name="CultureVersions.WarningLogLevelItemID" value="{72D35D12-D21D-402E-BEF8-DCBE7F00058C}" />
      <setting name="CultureVersions.ErrorLogLevelItemID" value="{EFD22B42-978F-41EE-9663-B06FB55DACDF}" />
    </settings>
  </sitecore>
</configuration>
